:root {
  // clr
  --grey: #6e6b7b;
  --grey2: #EAEBED;
  --white: #ffffff;
  --white2: #ebf0f4;
  --brand-blue: #1c3c6b;
  --brand-yellow: #F9CD02;

  // z-index
  --generic-z-index: 3;
  --modal-z-index: 4;

  --default-box-shadow: 1px 1px 15px rgba(33, 33, 33, 0.1);
}
